@model MVC.CMN.Models.MessageBoard.Post

<tr>
    <td>
        <div class="standard-cell border border-dark rounded col-12 no-padding" id="@Model.PostId">
            <div class="d-flex cell-header col-12">
                <div class="no-margin text-info col-9">
                    @Model.Thread.Subject
                </div>
                <div class="text-right small no-margin col-3">
                    @*TODO: Get the username from profile or some way*@
                    Written by @Model.CreatedBy on @Model.Created
                </div>
            </div>

            <div class="d-flex cell-content col-12 flex-wrap" style="padding-bottom: 20px;">
                <div class="col-10 no-padding">
                    <p class="no-margin">
                        @Model.Content
                    </p>
                </div>
                <div class="col-2 no-padding">
                    <p class=" no-margin">
                        @Model.UserProfile.UserName
                        <br />
                        Add user info here
                    </p>
                </div>
            </div>
            <div class="cell-footer col-12">
                <p class="text-right small no-margin">
                    @Html.ActionLink("Quote", "QuotePost", "Home", new { id = Model.PostId }, null)

                    @Html.ActionLink("Edit post", "EditPost", "Home", new { id = Model.PostId }, null)

                    @Html.ActionLink("Delete post", "DeletePost", "Home", new { id = Model.PostId }, null)
                </p>
            </div>
        </div>
    </td>
</tr>