@model MVC.CMN.Models.MessageBoard.MessageBoardViewModel
@{
    ViewBag.Title = "Index";
}

@using MVC.CMN.Models.MessageBoard


<div>
    <div class="panel rounded border border-info col-4 mx-auto panel-transparent p-2 m-2">
        <h2 class="text-center">REAL MessageBoard</h2>
    </div>
</div>


@*<p>Boards: @Model.Boarditems.Count</p>

    @foreach (var item in Model.Boarditems) {
        <div>
            <p>Board: @item.Name</p>
            <p>Threads: @item.Threads.Count</p>
        </div>
    }*@

<table class="mx-auto col-10">

    @{
        foreach (var board in Model.Boarditems)
        {
            @Html.Partial("_BoardCell", board)

        }
    }
</table>





<hr />
<div class="form-group col-6 mx-auto p-2" id="NewOrEdit">

    @Html.Partial("_CreateNewBoard", new NewBoardViewModel() { UserId = "fa6fb3bc-1cca-4fe9-95d5-e0544dee4d1f" })


</div>






<div>
    <ul class="breadcrumb">
        <li><a href="#">Main</a></li>
    </ul>
</div>
