@model MVC.CMN.Models.MessageBoard.Thread
@using Microsoft.AspNet.Identity
@using MVC.CMN.Models


@{
    ViewBag.Title = "SingleThread";    
}

@section MessageBoard {
    @Scripts.Render("~/bundles/" + ScriptRenders.MessageBoard)
}


@*@Html.Partial("_Carousel")*@

@using MVC.CMN.Models.MessageBoard

<div class="d-flex flex-column col-10 mx-auto no-padding">

    <table class="col-12 mx-auto">

        @{
            foreach (var post in Model.Posts) {

                @Html.Partial("_PostCell", post)

            }
        }
    </table>
</div>

<hr />

@*Fix: Get user Id*@

@if (Request.IsAuthenticated) {

    <div class="form-group col-6 mx-auto p-2" id="NewOrEdit">

        @Html.Partial("_CreateNewPost", new NewPostViewModel() { ThreadId = Model.ThreadId, UserId = User.Identity.GetUserId() })
    </div>
}

<div class="mx-auto col-10">
    <ul class="breadcrumb">

        <li>@Html.ActionLink("Main", "Index", "MessageBoard", new { }, null)</li>

        <li>@Html.ActionLink(Model.Board.Name, "ShowBoard", "MessageBoard", new { id = Model.BoardId }, null)</li>

        <li>@Html.ActionLink(Model.Subject, "ShowThread", "MessageBoard", new { id = Model.ThreadId }, null)</li>

    </ul>
</div>