@using Microsoft.AspNet.Identity
@using MVC.CMN.Models.MessageBoard

@model MVC.CMN.Models.MessageBoard.ShowBoardViewModel

@{
    ViewBag.Title = "SingleBoard";

    int startingcount = Model.index;
    int endingcount = Model.index + 10;

    int threadcount = Model.theBoard.Threads.Count();

    int pages = (int)Math.Ceiling(((double)threadcount) / 10);

    int currentpage = startingcount / 10; //Note: 0-indexing; first page is 0

    if (threadcount < endingcount)
    {
        endingcount = threadcount;
    }
}


@*======*@

@*@Html.Partial("_Carousel")*@

<div class="mx-auto col-10 no-padding">

    @Html.Partial("_BoardCell", Model)
</div>

<br />

@if (pages > 1)
{
    <ul class="pagination col-10 mx-auto">
        @for (int i = 0; i < pages; i++)
        {
            if (i == currentpage)
            {

                <li class="page-item active">
                    @Html.ActionLink((i + 1).ToString(), "ShowBoard", "MessageBoard", new { id = Model.theBoard.BoardId, _index = i * 10 }, new { @class = "page-link" })
                </li>
            }
            else
            {
                <li class="page-item">
                    @Html.ActionLink((i + 1).ToString(), "ShowBoard", "MessageBoard", new { id = Model.theBoard.BoardId, _index = i * 10 }, new { @class = "page-link" })
                </li>
            }
        }
    </ul>
}



    <hr />

    @if (Request.IsAuthenticated)
    {

        <div class="form-group col-6 mx-auto p-2" id="NewOrEdit">

            @Html.Partial("_CreateNewThread", new NewThreadViewModel() { BoardId = Model.theBoard.BoardId, UserId = User.Identity.GetUserId() })
        </div>
    }

    <div class="mx-auto col-10">
        <ul class="breadcrumb">

            <li>@Html.ActionLink("Main", "Index", "MessageBoard", new { }, null)</li>

            <li>@Html.ActionLink(Model.theBoard.Name, "ShowBoard", "MessageBoard", new { id = Model.theBoard.BoardId, _index = 0 }, null)</li>

        </ul>
    </div>

<br />