@model MVC.CMN.Models.MessageBoard.ShowBoardViewModel

@using MVC.CMN.Models.MessageBoard
@using MVC.CMN.Models

@{
    int startingcount = Model.index;
    int endingcount = Model.index + 10;

    int threadcount = Model.theBoard.Threads.Count();

    if (threadcount < endingcount)
    {
        endingcount = threadcount;
    }




    int numofthreads = Model.theBoard.Threads.Count();

    ///

    int numofposts = 0;

    foreach (var thread in Model.theBoard.Threads)
    {
        numofposts += thread.Posts.Count();
    }

    ///

    List<Post> allposts = new List<Post>();

    foreach (var thread in Model.theBoard.Threads)
    {
        allposts.AddRange(thread.Posts);
    }

    Post latest = new Post();

    if (allposts.Count() > 0)
    {
        DateTime latesttime = allposts.Max(p => p.Created);

        latest = allposts.First(x => x.Created == latesttime);
    }
}


<tr>
    <td>

        <div class="col-12 no-padding standard-cell" style="margin-bottom:5px;">

            @Html.Partial("_BoardBar")

            <div class="col-12 no-padding  d-flex flex-wrap">

                <div class="cell-content bottom-padding col-8">

                    <div class="no-padding  text-danger col-12">
                        @Html.ActionLink(Model.theBoard.Name, "ShowBoard", "MessageBoard", new { id = Model.theBoard.BoardId, _index = 0 }, null)
                    </div>

                    <div class="col-12  no-padding">
                        <p class="no-margin">
                            @Model.theBoard.Description
                        </p>
                    </div>
                </div>

                <div class="cell-content small col-1 d-flex flex-wrap flex-row">
                    <p class="my-auto">@numofthreads</p>
                </div>
                <div class="cell-content small col-1 d-flex flex-wrap flex-row">
                    <p class="my-auto">@numofposts</p>
                </div>




                <div class="cell-content small col-2 d-flex flex-wrap flex-row">
                    <p class="my-auto">


                        @if (latest.Content != null)
                        {
                            if (latest.Content.Length > 25)
                            {
                                <span>"@latest.Content.Substring(0, 25)..."</span>
                            }
                            else
                            {
                                <span>"@latest.Content"</span>

                            }
                        }

                        <br />



                        @if (latest.Subject != null)
                        {
                            if (latest.Subject.Length > 25)
                            {
                                <span>"@latest.Subject.Substring(0, 25)..."</span>
                            }



                            else



                            {
                                <span>@latest.Subject</span>
                            }

                        }




                        <br />
                        @if (latest.UserProfile != null)
                        {
                            if (latest.UserProfile.UserName != null)
                            {
                                <span>@latest.UserProfile.UserName</span>
                            }
                        }
                        <br />
                        @if (latest.Created != null)
                        {
                            <span>@latest.Created</span>
                        }

                    </p>
                </div>
            </div>

            <div class="cell-footer col-12 d-flex flex-wrap">

                <div class="col-10 no-padding">
                    <p class="small no-margin">
                        Eat at Joe's
                    </p>
                </div>


                @if (Request.IsAuthenticated && User.IsInRole(RoleTypes.Admin)) {

                    <div class="col-2 no-padding">

                        <p class="text-right small no-margin">

                            @Ajax.ActionLink("Edit board", "InsertEditBoardView", "MessageBoard", new { boardId = Model.theBoard.BoardId, name = Model.theBoard.Name, description = Model.theBoard.Description }, new AjaxOptions
                            {
                                UpdateTargetId = "NewOrEdit",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "POST"
                            })

                            @Html.ActionLink("Delete board", "DeleteBoard", "MessageBoard", new { id = Model.theBoard.BoardId }, null)
                        </p>
                    </div>
                }
            </div>
        </div>

        <div class="rounded col-12 no-padding">

            <div class="d-flex">

                <table class="col-12 mx-auto no-padding">


                    @{
                        for (int i = startingcount; i < endingcount; i++)
                        {
                            @Html.Partial("_ThreadCell", Model.theBoard.Threads.ToList()[i])

                        }

                    }







                    @*@{
                                foreach (var thread in Model.theBoard.Threads)
                                {

                                    //TODO: Remove this soon
                                    System.Diagnostics.Debug.WriteLine("T-ID" + thread.ThreadId);

                                        @Html.Partial("_ThreadCell", thread)

                        }
                                            }*@








                </table>
            </div>
        </div>
        <br />
    </td>
</tr>