@model MVC.CMN.Models.MessageBoard.Board

@using MVC.CMN.Models.MessageBoard

@{
    int numofthreads = Model.Threads.Count();

    ///

    int numofposts = 0;

    foreach (var thread in Model.Threads)
    {
        numofposts += thread.Posts.Count();
    }

    ///

    List<Post> latestposts = new List<Post>();

    foreach (var thread in Model.Threads)
    {
        latestposts.Add(thread.Posts.Last());
    }

    Post latest = new Post();

    if (latestposts.Count() > 0)
    {
        DateTime latesttime = latestposts.Max(p => p.Created);

        latest = latestposts.First(x => x.Created == latesttime);
    }
}


<tr>
    <td>

        <div class="col-12 no-padding standard-cell" style="margin-bottom:5px;">

            @Html.Partial("_BoardBar")

            <div class="col-12 no-padding  d-flex flex-wrap">

                <div class="cell-content bottom-padding col-8">

                    <div class="no-padding  text-danger col-12">
                        @Html.ActionLink(Model.Name, "ShowBoard", "MessageBoard", new { id = Model.BoardId }, null)
                    </div>

                    <div class="col-12  no-padding">
                        <p class="no-margin">
                            @Model.Description
                        </p>
                    </div>
                </div>

                <div class="cell-content small col-1 d-flex flex-wrap flex-row">
                    <p class="my-auto">@numofthreads</p>
                </div>
                <div class="cell-content small col-1 d-flex flex-wrap flex-row">
                    <p class="my-auto">@numofposts</p>
                </div>




                <div class="cell-content small col-2 d-flex flex-wrap flex-row">
                    <p class="my-auto">


                        @if (latest.Content != null)
    {
        if (latest.Content.Length > 25)
        {
                    <span>"@latest.Content.Substring(0, 25)..."</span>
}
else
{
                    <span>"@latest.Content"</span>

}
}

                        <br />



                        @if (latest.Subject != null)
    {
                    <span>@latest.Subject</span>
}

                        <br />
                        @if (latest.UserProfile != null)
    {
        if (latest.UserProfile.UserName != null)
        {
                    <span>@latest.UserProfile.UserName</span>
}
}
                        <br />
                        @if (latest.Created != null)
    {
                    <span>@latest.Created</span>
}

                    </p>
                </div>
            </div>

            <div class="cell-footer col-12 d-flex flex-wrap">

                <div class="col-10 no-padding">
                    <p class="small no-margin">
                        Eat at Joe's
                    </p>
                </div>

                <div class="col-2 no-padding">

                    <p class="text-right small no-margin">

                        @Ajax.ActionLink("Edit board", "InsertEditBoardView", "MessageBoard", new { boardId = Model.BoardId, name = Model.Name, description = Model.Description }, new AjaxOptions
                        {
                            UpdateTargetId = "NewOrEdit",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST"
                        })


                        @Html.ActionLink("Delete board", "DeleteBoard", "MessageBoard", new { id = Model.BoardId }, null)


                    </p>
                </div>
            </div>
        </div>

        <div class="rounded col-12 no-padding">

            <div class="d-flex">

                <table class="col-12 mx-auto no-padding">

                    @{
                        foreach (var thread in Model.Threads)
                        {

                            //TODO: Remove this soon
                            System.Diagnostics.Debug.WriteLine("T-ID" + thread.ThreadId);

                            @Html.Partial("_ThreadCell", thread)

                        }
                    }
                </table>
            </div>
        </div>
        <br />
    </td>
</tr>