@model MVC.CMN.Models.Boarditem





<tr>
    <td>

        <div class="col-12 no-padding standard-cell" style="margin-bottom:5px;">

            @Html.Partial("_BoardBar")



            <div class="col-12 no-padding  d-flex flex-wrap">

                <div class="cell-content bottom-padding col-8">

                    <div class="no-padding  text-danger col-12">
                        @Html.ActionLink(Model.Title, "ShowBoard", "Home", new { id = Model.Id }, null)

                    </div>

                    <div class="col-12  no-padding">
                        <p class="no-margin">
                            @Model.Description
                        </p>
                    </div>

                </div>

                <div class="cell-content small col-1 d-flex flex-wrap flex-row">
                    <p class="my-auto">45</p>
                </div>
                <div class="cell-content small col-1 d-flex flex-wrap flex-row">
                    <p class="my-auto">132</p>
                </div>
                <div class="cell-content small col-2 d-flex flex-wrap flex-row">
                    <p class="my-auto">
                        Gorgoflex the Untamed
                        <br />
                        17/6/18, 20:22
                    </p>

                </div>

            </div>

            <div class="cell-footer col-12 d-flex flex-wrap">

                <div class="col-10 no-padding">
                    <p class="small no-margin">
                        Written by Model.Author on InsertDateHere
                    </p>
                </div>


                <div class="col-2 no-padding">

                    <p class="text-right small no-margin">
                        @Html.ActionLink("Edit board", "EditBoard", "Home", new { id = Model.Id }, null)
                        @Html.ActionLink("Delete board", "DeleteBoard", "Home", new { id = Model.Id }, null)

                    </p>
                </div>
            </div>


        </div>












        <div class="rounded col-12 no-padding">


            <div class="d-flex">

                <table class="col-12 mx-auto no-padding">

                    @{
                    foreach (var thread in Model.Threads)
                    {



                        @Html.Partial("_ThreadCell", thread)



                }
                    }

                </table>
            </div>

        </div>
        <br />

    </td>
</tr>

