@model MVC.CMN.Models.Postitem

<tr>
    <td>

        <div class="col-12 no-padding standard-cell" id="@Model.Id">

            <div class="cell-header col-12 d-flex flex-wrap">
                <div class="no-padding text-info col-9">
                    Model.BelongsToThread.Title
                </div>

                <div class="text-right small no-padding col-3">

                </div>
            </div>



            <div class="cell-content col-12 d-flex flex-wrap">
                <div class="col-10 no-padding">
                    <p class="no-margin">
                        @Model.Content
                    </p>
                </div>


                <div class="col-2 no-padding">
                    <p class=" no-margin">
                        @Model.Author
                        <br />
                        Add user info here
                    </p>
                </div>
            </div>




            <div class="cell-footer col-12 d-flex flex-wrap">
                <div class="col-10 no-padding">
                    <p class="small no-margin">
                        Written by @Model.Author on InsertDateHere
                    </p>
                </div>


                <div class="col-2 no-padding">
                    <p class="text-right small no-margin">
                        @Html.ActionLink("Quote", "QuotePost", "Home", new { id = Model.Id }, null)

                        @Html.ActionLink("Edit post", "EditPost", "Home", new { id = Model.Id }, null)

                        @Html.ActionLink("Delete post", "DeletePost", "Home", new { id = Model.Id }, null)
                    </p>
                </div>
            </div>
        </div>








    </td>




</tr>
