@model MVC.CMN.Models.MessageBoard.Post

<tr>
    <td>

        <div class="col-12 no-padding standard-cell" id="@Model.PostId">

            <div class="cell-header col-12 d-flex flex-wrap">
                <div class="no-padding text-info col-9">
                    @Model.Thread.Subject
                </div>

                <div class="text-right small no-padding col-3">

                </div>
            </div>



            <div class="cell-content bottom-padding col-12 d-flex flex-wrap">
                <div class="col-10 no-padding">
                    <p class="no-margin">
                        @Model.Content
                    </p>
                </div>


                <div class="col-2 no-padding">
                    <p class=" no-margin">
                        @Model.CreatedBy
                        <br />
                        Add user info here
                    </p>
                </div>
            </div>




            <div class="cell-footer col-12 d-flex flex-wrap">
                <div class="col-10 no-padding">
                    <p class="small no-margin">
                        Written by @Model.CreatedBy on @Model.Created
                    </p>
                </div>


                <div class="col-2 no-padding">
                    <p class="text-right small no-margin">
                        @Html.ActionLink("Quote", "QuotePost", "MessageBoard", new { id = Model.PostId }, null)

                        @Html.ActionLink("Edit post", "EditPost", "MessageBoard", new { id = Model.PostId }, null)

                        @Html.ActionLink("Delete post", "DeletePost", "MessageBoard", new { id = Model.PostId }, null)
                    </p>
                </div>
            </div>
        </div>








    </td>




</tr>
