@model MVC.CMN.Models.Threaditem

<tr>
    <td>

        <div class="border rounded col-12 no-padding" style="background:blue;" id="@Model.Id">

            <div class="cell-header col-12">
                <p class="no-margin">
                    @Html.ActionLink(Model.Title, "ShowThread", "Home", new { id = Model.Id }, null)
                </p>
            </div>

            <div class="d-flex cell-content col-12 flex-wrap">
                <div class="col-10 no-padding">
                    <p class="no-margin">
                        @Model.Posts.FirstOrDefault().Content
                    </p>
                </div>

                <div class="col-2 no-padding">
                    <p class="text-right small no-margin">
                        @Html.ActionLink("Edit thread", "EditThread", "Home", new { id = Model.Id }, null)
                        <br />
                        @Html.ActionLink("Delete thread", "DeleteThread", "Home", new { id = Model.Id }, null)
                    </p>
                </div>
            </div>

            <div class="cell-footer col-12">
                <p class="no-margin">
                    Footer info
                </p>

            </div>
        </div>





    </td>
</tr>
