@model MVC.CMN.Models.Threaditem

<tr>
    <td>

        <div class="d-flex border border-active p-2 m-2 rounded table-active col-lg-12 col-md-12" id="@Model.Id">

            <div class="col-lg-10 col-md-10">

                <p>
                    <h2>
                        @Html.ActionLink(Model.Title, "ShowThread", "Home", new { id = Model.Id }, null)

                    </h2>
                </p>

                <p class="small">
                    @Model.Posts.FirstOrDefault().Content
                </p>


            </div>

            <div class="col-lg-2 col-md-2">


                <p class="text-right small">

                    @Html.ActionLink("Edit thread", "EditThread", "Home", new { id = Model.Id }, null)
                    @Html.ActionLink("Delete thread", "DeleteThread", "Home", new { id = Model.Id }, null)

                </p>
            </div>
        </div>
    </td>
</tr>
