@model MVC.CMN.Models.MessageBoard.Thread
    @using MVC.CMN.Models

<tr>
    <td>

        <div class="col-12 no-padding board-header">

            <div class="cell-header col-12">
                <p class="no-margin">
                    @Html.ActionLink(Model.Subject, "ShowThread", "MessageBoard", new { id = Model.ThreadId }, null)
                </p>
            </div>

            <div class="d-flex cell-content no-margin bottom-padding col-12 flex-wrap">
                <div class="col-10 no-padding">
                    <p class="no-margin">

                        @if (Model.Posts.Count > 0)
                        {
                            if (Model.Posts.LastOrDefault().Content != null)
                            {
                                @Model.Posts.LastOrDefault().Content
                            }
                        }
                    </p>
                </div>

                <div class="col-2 no-padding">
                    @if (Model.UserProfile != null)
                    {
                        @Model.UserProfile.UserName
                    }
                    else
                    {
                        <span>User profile not found</span>
                    }
                    <br />
                    @Model.Posts.Count() posts in this thread
                </div>
            </div>

            <div class="cell-footer col-12 d-flex flex-wrap">
                <div class="col-10 no-padding">
                    <p class="small no-margin">

                        @if (Model.UserProfile != null)
                        {

                            <span>Written by @Model.UserProfile.UserName on @Model.Posts.LastOrDefault().Created</span>
                        }
                        else
                        {
                            <span>Written by unknown on InsertDateHere</span>

                        }

                    </p>
                </div>

                @if (Request.IsAuthenticated && (User.IsInRole(RoleTypes.Admin) || User.IsInRole(RoleTypes.Moderator))) {
                    <div class="col-2 no-padding">


                        <p class="text-right small no-margin">
                            @Ajax.ActionLink("Edit thread", "InsertEditThreadView", "MessageBoard", new { threadId = Model.ThreadId, boardId = Model.BoardId, userId = Model.CreatedBy, subject = Model.Subject }, new AjaxOptions {
                                UpdateTargetId = "NewOrEdit",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "POST"
                            })


                            @Html.ActionLink("Delete thread", "DeleteThread", "MessageBoard", new { id = Model.ThreadId }, null)
                        </p>
                    </div>
                }
            </div>
        </div>

    </td>
</tr>