@{
    ViewBag.Title = "Home Page";
}

@*<div class="d-flex flex-row">
        <p>This is a flex row</p>
    </div>
    <div class="d-flex flex-row">
        <p>This is a flex row2</p>
    </div>*@


<div id="indexcarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#indexcarousel" data-slide-to="0" class="active"></li>
        <li data-target="#indexcarousel" data-slide-to="1"></li>
        <li data-target="#indexcarousel" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="center-block carousel-item active align-items-center text-center">
            <span>Stuff 1</span>
        </div>
        <div class="center-block carousel-item align-items-center text-center">
            <span>Stuff 2</span>
        </div>
        <div class="center-block carousel-item align-items-center text-center">
            <img src="~/Content/Images/Avian.png" alt="Alternate Text" class="img-responsive center-block" />
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#indexcarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#indexcarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>









<div class="d-flex">
    <div class="col-md-9 col-lg-9" id="newsfeed">

        @*This generates a bunch of news items - dynamically!*@


        @Html.Action("DynamicNewsitem", new { id = 1 })
        <br />
        @Html.Action("DynamicNewsitem", new { id = 2 })
        <br />
        @Html.Action("DynamicNewsitem", new { id = 3 })
        <br />
        @Html.Action("DynamicNewsitem", new { id = 4 })
        <br />
        @Html.Action("DynamicNewsitem", new { id = 5 })












    </div>





    <div class="col-md-3 col-lg-3" id="sidebar">

        <div class="border border-secondary p-2 m-2 rounded panel panel-primary panel-transparent" id="Notice1">
            <p class="panel-heading">
                <h2>
                    We can put some cool stuff here.
                </h2>
            </p>

            <p class="small panel-body">
                Integer sit amet ligula nec nibh tristique ultrices sed non tellus. Nunc sollicitudin, dui ut tincidunt ultrices, justo odio viverra elit, a hendrerit libero turpis eget risus.
                Integer imperdiet dignissim scelerisque. Nullam at lectus eget dolor venenatis blandit. Proin condimentum odio vel hendrerit posuere. Nunc luctus est a varius fermentum.
                Praesent eu placerat tellus, a pharetra risus. Suspendisse vitae laoreet purus. Suspendisse pulvinar dolor tellus, vel posuere arcu hendrerit at.
                Donec a nunc porttitor, varius tellus ut, auctor metus. Vestibulum rhoncus facilisis interdum. Nunc a neque eu purus condimentum vehicula maximus vel enim.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec pellentesque sodales tortor quis feugiat.
                Fusce egestas, tortor eu blandit pretium, justo sapien tempus leo, convallis dapibus lorem lectus in est.
            </p>


            <input class="btn btn-dark" value="dark" />
            <input class="btn btn-light" value="light" />
            <input class="btn btn-primary" value="primary" />
            <input class="btn btn-secondary" value="secondary" />
            <input class="btn btn-success" value="success" />







        </div>


    </div>
</div>


